In [2]:
import pandas as pd #librería para manejo de datos


data= pd.read_csv ('Cost_of_Living_Index_2022.csv') 

data

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04
1,2,Albania,35.50,8.47,22.83,29.32,25.82,30.19
2,3,Algeria,26.87,4.59,16.43,28.82,14.48,24.63
3,4,Argentina,34.69,7.71,22.04,28.17,33.32,30.72
4,5,Armenia,33.89,11.61,23.45,27.59,30.55,28.86
...,...,...,...,...,...,...,...,...
134,135,Venezuela,43.20,9.99,27.63,37.34,46.23,15.41
135,136,Vietnam,37.48,13.22,26.11,38.70,19.98,29.38
136,137,Yemen,53.14,6.71,31.38,67.12,24.74,14.41
137,138,Zambia,33.04,9.26,21.90,31.53,22.46,40.33
138,139,Zimbabwe,45.68,8.75,28.37,39.88,38.13,19.07

In [15]:
import statsmodels.api as sm
# Modelo Regresión:  modeldata=stock.values 
y=data["Cost of Living Index"] 
X=data[['Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index']] 


results = sm.OLS(y, sm.add_constant(X)).fit()

print(results.summary())

                             OLS Regression Results
================================================================================
Dep. Variable:     Cost of Living Index   R-squared:                       0.979
Model:                              OLS   Adj. R-squared:                  0.979
Method:                   Least Squares   F-statistic:                     1598.
Date:                  Mon, 02 Oct 2023   Prob (F-statistic):          5.72e-112
Time:                          10:04:57   Log-Likelihood:                -348.93
No. Observations:                   139   AIC:                             707.9
Df Residuals:                       134   BIC:                             722.5
Df Model:                             4
Covariance Type:              nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                            6.8729      0.694      9.901      0.000       5.500       8.246
Rent Index                       0.0690      0.031      2.242      0.027       0.008       0.130
Groceries Index                  0.5890      0.025     23.230      0.000       0.539       0.639
Restaurant Price Index           0.3109      0.022     13.821      0.000       0.266       0.355
Local Purchasing Power Index     0.0217      0.014      1.606      0.111      -0.005       0.049
==============================================================================
Omnibus:                       14.715   Durbin-Watson:                   2.129
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               20.350
Skew:                           0.590   Prob(JB):                     3.81e-05
Kurtosis:                       4.456   Cond. No.                         244.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

NameError: name 'data' is not defined